_ARCHIVO_HISTORICO/Agente_WhatsApp_Receptor/agente recepcionista de mi whatsapp.json
{
  "name": "agente recepcionista de mi whatsapp",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Preparar Datos1').item.json.phoneNumber }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3872,
        -3584
      ],
      "id": "cd5d2bb7-c2ad-4c4d-8604-e2a0b258e45d",
      "name": "memory CONFIG WHATSAPP1"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Comprueba disponibilidad real en Google Calendar.\nDebes recibir start y end en formato ISO 8601 con zona horaria Europe/Madrid.\nSi el usuario da solo una fecha (sin hora), usa el rango del día completo 00:00–23:59.\nDevuelve si está ocupado o libre.",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "a6266543324e6a43cc6e5a2fe87b0c6626ac2b2d8e38c2affc9fb78b146fb2d5@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Eventos Creados Por Recepcionista"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "id": "15988421-f16c-4ee3-86c0-4de19f66c8cd",
      "name": "Ver Disponibilidad Calendar1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        6944,
        -3920
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zJ5fl0ynJcWqFSsM",
          "name": "Dulce Y Jaleo"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=ivanrodriescri@gmail.com",
        "subject": "🔔 Escalado WhatsApp - Dulce Y Jaleo",
        "emailType": "text",
        "message": "=ESCALADO DE CONVERSACIÓN WHATSAPP\n\nPaciente: {{ $('Preparar Datos1').item.json.pushName }}\nTeléfono: {{ $('Preparar Datos1').item.json.phoneNumber }}\nFecha/Hora: {{ $now.toFormat('dd/MM/yyyy HH:mm') }}\n\nÚltimo mensaje del paciente:\n{{ $('Preparar Datos1').item.json.chatInput }}\n\nMotivo del escalado: [El agente determinará el motivo]\n\nPor favor, contacte al paciente lo antes posible.",
        "options": {}
      },
      "id": "9bbeb4fe-0732-4cef-97f2-bf476ed45fa6",
      "name": "Escalar a Humano1",
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.2,
      "position": [
        7072,
        -3920
      ],
      "webhookId": "104c7cbb-5ec7-46e4-b775-e98dba128e4c",
      "credentials": {
        "gmailOAuth2": {
          "id": "CmT8VtyfQAlrj3ZW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "BUSCA CLIENTES EXISTENTES EN LA BASE DE DATOS.\n¡IMPORTANTE! SIEMPRE debes usar esta herramienta ANTES de registrar a un cliente nuevo.\nUsa el número de teléfono con código de país (ej. +34600000000) como identificador de búsqueda.\nDevuelve si el cliente existe o no y su ID_Cliente.\nSi no existe, usa \"Registrar Cliente3\" y luego vuelve a llamar a esta tool para obtener el ID_Cliente real.",
        "documentId": {
          "__rl": true,
          "value": "1FgTej3kJEYjOFBpmDMUpKrxn9Sr00kEPs8Dg81RjVhk",
          "mode": "list",
          "cachedResultName": "Dulce_y_Jaleo_Control_Clientes_Eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FgTej3kJEYjOFBpmDMUpKrxn9Sr00kEPs8Dg81RjVhk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1914283026,
          "mode": "list",
          "cachedResultName": "CLIENTES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FgTej3kJEYjOFBpmDMUpKrxn9Sr00kEPs8Dg81RjVhk/edit#gid=1914283026"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Telefono",
              "lookupValue": "={{ $('Preparar Datos1').item.json.phoneNumber }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bbe78eab-f621-405f-8508-db4529112d7a",
      "name": "Buscar Cliente3",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        7200,
        -3920
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P9EP0C5tiN4daw5k",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "REGISTRA UN NUEVO CLIENTE en la hoja CLIENTES.\n¡ADVERTENCIA! Usa esta herramienta SOLAMENTE si acabas de usar 'Buscar Cliente3' y te ha devuelto que el cliente NO existe.\nRequiere Nombre_Completo y Telefono.\nDespués de registrar, VUELVE a llamar a 'Buscar Cliente3' para obtener el ID_Cliente real.",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1FgTej3kJEYjOFBpmDMUpKrxn9Sr00kEPs8Dg81RjVhk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1914283026,
          "mode": "list",
          "cachedResultName": "CLIENTES",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FgTej3kJEYjOFBpmDMUpKrxn9Sr00kEPs8Dg81RjVhk/edit#gid=1914283026"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefono', `Teléfono con código de país`, 'string') }}",
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', `Email del paciente (opcional)`, 'string') }}",
            "ID_Cliente": "=CLI-{{$now.toMillis()}}",
            "Nombre_Completo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_Completo', ``, 'string') }}",
            "Fecha_Primer_Contacto": "={{$now.toFormat('dd/MM/yyyy HH:mm')}}",
            "Observaciones": "={{$json.Observaciones || ''}}",
            "Estado_Cliente": "En conversación"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID_Cliente",
              "displayName": "ID_Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre_Completo",
              "displayName": "Nombre_Completo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha_Primer_Contacto",
              "displayName": "Fecha_Primer_Contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Observaciones",
              "displayName": "Observaciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado_Cliente",
              "displayName": "Estado_Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "64620f5b-a6a2-4cda-b447-8bed1374c5f0",
      "name": "Registrar Cliente3",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        7328,
        -3920
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P9EP0C5tiN4daw5k",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Guarda un nuevo evento en la hoja EVENTOS.\nREQUISITOS OBLIGATORIOS antes de llamar a esta tool:\n1. Debes tener un ID_Cliente real (obtenido de Buscar Cliente3).\n2. Para TARTAS: necesitas Fecha_Evento, Número de raciones, Diseño elegido y Relleno elegido.\n3. Para MESAS DULCES: necesitas Fecha_Evento, Lugar_Evento, y confirmación de niño o niña.\n4. PRIMERO debes crear el evento en Google Calendar y obtener el Event_ID_Google.\nSi falta CUALQUIERA de estos datos, NO llames a esta tool. Pregunta solo el dato que falte.\nNUNCA registres un evento si el cliente solo pregunta precio o disponibilidad general.\nUsa la columna Notas_Internas SOLO para referencias visuales/creativas (imagen elegida, temática, colores, estilo). NO guardes ahí fecha, lugar, teléfono, nombre, etc.",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=1FgTej3kJEYjOFBpmDMUpKrxn9Sr00kEPs8Dg81RjVhk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 317516279,
          "mode": "list",
          "cachedResultName": "EVENTOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FgTej3kJEYjOFBpmDMUpKrxn9Sr00kEPs8Dg81RjVhk/edit#gid=317516279"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Event_ID_Google": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID_Google', ``, 'string') }}",
            "ID_Cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID_Cliente', `Aqui debes poner la ID del cliente`, 'string') }}",
            "Nombre_Cliente": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nombre_Cliente', `Aqui debes poner su nombre completo del cliente que te lo habra dado el cuando le has preguntado`, 'string') }}",
            "Telefono": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefono', `Aqui debes poner su telefono del cliente que te lo habra dado el cuando le has preguntado`, 'string') }}",
            "Tipo_Evento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tipo_Evento', `Tarta / Mesa Dulce / Taller Cumpleaños`, 'string') }}",
            "Subtipo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subtipo', `Ej: Boda, Comunión, Cumpleaños, Bautizo, Empresa, etc.`, 'string') }}",
            "Fecha_Evento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_Evento', `DD/MM/YYYY`, 'string') }}",
            "Numero_Personas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Numero_Personas', `Número aproximado de personas (si aplica)`, 'string') }}",
            "Tematica": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tematica', ``, 'string') }}",
            "Sabores": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sabores', ``, 'string') }}",
            "Alergias": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Alergias', `Si le has preguntado Pon las alergias aqui`, 'string') }}",
            "Presupuesto_Estimado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Presupuesto_Estimado', `Pero la IA Nunca puede cerrar un precio exacto eso siempre deberá delegarlo a Humano por Email. SIEMRPE`, 'string') }}",
            "Señal_Requerida": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Se_al_Requerida', `Segun para que tipo de evento sea`, 'string') }}",
            "Señal_Pagada": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Se_al_Pagada', `No`, 'string') }}",
            "Importe_Señal": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Importe_Se_al', ``, 'string') }}",
            "Estado_Evento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Estado_Evento', `Pendiente`, 'string') }}",
            "Pagado_Total": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Pagado_Total', `No`, 'string') }}",
            "Realizado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Realizado', `No`, 'string') }}",
            "Notas_Internas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Notas_Internas', `Resumen breve de la referencia visual o temática elegida por el cliente.\nGuardar aquí solo inspiración, estilo, colores, imagen elegida o aclaraciones creativas.\nNo guardar fecha, teléfono, lugar ni estado.\nEjemplo:\n\"Referencia elegida: estilo de la 2ª foto del enlace, tonos azules y blancos, temática Frozen.\"`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID_Cliente",
              "displayName": "ID_Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Nombre_Cliente",
              "displayName": "Nombre_Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tipo_Evento",
              "displayName": "Tipo_Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Subtipo",
              "displayName": "Subtipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha_Evento",
              "displayName": "Fecha_Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lugar_Evento",
              "displayName": "Lugar_Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Numero_Personas",
              "displayName": "Numero_Personas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tematica",
              "displayName": "Tematica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Sabores",
              "displayName": "Sabores",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Alergias",
              "displayName": "Alergias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Presupuesto_Estimado",
              "displayName": "Presupuesto_Estimado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Señal_Requerida",
              "displayName": "Señal_Requerida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Señal_Pagada",
              "displayName": "Señal_Pagada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Importe_Señal",
              "displayName": "Importe_Señal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Estado_Evento",
              "displayName": "Estado_Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pagado_Total",
              "displayName": "Pagado_Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Realizado",
              "displayName": "Realizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Event_ID_Google",
              "displayName": "Event_ID_Google",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notas_Internas",
              "displayName": "Notas_Internas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "324c2818-bbfa-4dcb-ac7d-8071eb7f4e57",
      "name": "Guardar Evento3",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        7456,
        -3920
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P9EP0C5tiN4daw5k",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Busca eventos existentes del cliente en la hoja EVENTOS usando el teléfono.\nDevuelve el rowNumber y el Event_ID_Google que necesitas para modificar o cancelar eventos.\nSIEMPRE usa esta tool antes de actualizar o cancelar un evento.\nEl rowNumber devuelto es el que debes pasar a \"Actualizar Un Evento\".",
        "documentId": {
          "__rl": true,
          "value": "1FgTej3kJEYjOFBpmDMUpKrxn9Sr00kEPs8Dg81RjVhk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 317516279,
          "mode": "list",
          "cachedResultName": "EVENTOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FgTej3kJEYjOFBpmDMUpKrxn9Sr00kEPs8Dg81RjVhk/edit#gid=317516279"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Telefono",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "fe0c3011-9261-45c0-a898-4a4aa6b9d038",
      "name": "Buscar evento1",
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        7584,
        -3920
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P9EP0C5tiN4daw5k",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FgTej3kJEYjOFBpmDMUpKrxn9Sr00kEPs8Dg81RjVhk",
          "mode": "list",
          "cachedResultName": "Dulce_y_Jaleo_Control_Clientes_Eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FgTej3kJEYjOFBpmDMUpKrxn9Sr00kEPs8Dg81RjVhk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 317516279,
          "mode": "list",
          "cachedResultName": "EVENTOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FgTej3kJEYjOFBpmDMUpKrxn9Sr00kEPs8Dg81RjVhk/edit#gid=317516279"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha_Evento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Fecha_Evento', `Nueva fecha del evento cuando el cliente solicita cambiar la fecha.\n\nDebe guardarse en formato:\nDD/MM/YYYY\n\nEjemplo:\n16/04/2026`, 'string') }}",
            "Lugar_Evento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Lugar_Evento', `Lugar donde se realizará el evento si el cliente indica un cambio de restaurante o dirección.\nEjemplo:\nRestaurante Amaltea, Lorca`, 'string') }}",
            "Numero_Personas": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Numero_Personas', `Número estimado de personas para el evento si el cliente lo modifica.\nDebe ser solo un número.\nEjemplo:\n30`, 'string') }}",
            "Estado_Evento": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Estado_Evento', `Estado actual del evento.\n\nValores posibles:\nConsulta abierta\nPendiente señal\nSeñal pagada\nCancelado`, 'string') }}",
            "Realizado": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Realizado', ``, 'string') }}",
            "row_number": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('row_number__using_to_match_', `Número de fila del evento en Google Sheets.\nDebe ser un número entero.\nEste valor se obtiene previamente usando la tool \"Buscar evento\".\nUsa el rowNumber devuelto por esa tool para localizar y actualizar la fila correcta.\nEjemplo: 14`, 'number') }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "ID_Evento",
              "displayName": "ID_Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ID_Cliente",
              "displayName": "ID_Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Nombre_Cliente",
              "displayName": "Nombre_Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Tipo_Evento",
              "displayName": "Tipo_Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Subtipo",
              "displayName": "Subtipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Fecha_Evento",
              "displayName": "Fecha_Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lugar_Evento",
              "displayName": "Lugar_Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Numero_Personas",
              "displayName": "Numero_Personas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tematica",
              "displayName": "Tematica",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Sabores",
              "displayName": "Sabores",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Alergias",
              "displayName": "Alergias",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Presupuesto_Estimado",
              "displayName": "Presupuesto_Estimado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Señal_Requerida",
              "displayName": "Señal_Requerida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Señal_Pagada",
              "displayName": "Señal_Pagada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Importe_Señal",
              "displayName": "Importe_Señal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Estado_Evento",
              "displayName": "Estado_Evento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pagado_Total",
              "displayName": "Pagado_Total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Realizado",
              "displayName": "Realizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Event_ID_Google",
              "displayName": "Event_ID_Google",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notas_Internas",
              "displayName": "Notas_Internas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        7712,
        -3920
      ],
      "id": "b6dee663-7796-4b2f-ba26-4e351bfaa3ae",
      "name": "Actualizar Un Evento1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P9EP0C5tiN4daw5k",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Crea un evento en Google Calendar.\nSOLO llamar cuando sea una reserva nueva confirmada o una llamada confirmada.\nDEBES rellenar SIEMPRE estos 4 campos:\n1. fecha_inicio_iso – formato ISO 8601 (ej: 2026-04-04T17:00:00+02:00)\n2. fecha_fin_iso – formato ISO 8601 (si no hay duración, usar 2 horas después del inicio)\n3. calendar_summary – Título breve (ej: Mesa Dulce – Juan – Restaurante Amaltea)\n4. calendar_description – nombre, teléfono, tipo de evento, lugar, subtipo, personas, estado\nNUNCA llames a esta tool si no puedes rellenar esos 4 campos.\nNUNCA crees duplicados. Si ya existe un evento, usa \"Actualizar evento calendar\".",
        "calendar": {
          "__rl": true,
          "value": "a6266543324e6a43cc6e5a2fe87b0c6626ac2b2d8e38c2affc9fb78b146fb2d5@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Eventos Creados Por Recepcionista"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Fecha y hora de inicio del evento en formato ISO 8601 con zona horaria Europe/Madrid. Ejemplo: 2026-04-04T17:00:00+02:00`, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Fecha y hora de fin del evento en formato ISO 8601 con zona horaria Europe/Madrid. Si no se especifica duración, usar 2 horas después del inicio.`, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', `Descripción completa del evento para Google Calendar incluyendo cliente, teléfono, tipo de evento, lugar, subtipo, número de personas y estado.`, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Título breve y claro del evento para Google Calendar. Ejemplo: Mesa Dulce – Juan – Restaurante Amaltea`, 'string') }}"
        }
      },
      "id": "449d939d-5c01-4faf-a1a9-0b97b871086f",
      "name": "Crear evento1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        7840,
        -3920
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zJ5fl0ynJcWqFSsM",
          "name": "Dulce Y Jaleo"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Actualiza un evento existente en Google Calendar.\nUsa el Event_ID_Google obtenido de \"Buscar evento\" para localizar el evento.\nEnvía la nueva fecha en formato ISO 8601.\nNUNCA crees un evento nuevo si solo necesitas cambiar la fecha.",
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "a6266543324e6a43cc6e5a2fe87b0c6626ac2b2d8e38c2affc9fb78b146fb2d5@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Eventos Creados Por Recepcionista"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', `ID del evento en Google Calendar que está guardado en la columna Event_ID_Google de Google Sheets. \nEste ID se obtiene previamente usando la tool \"Buscar evento\".\nDebe usarse para localizar el evento correcto que se va a actualizar.`, 'string') }}",
        "updateFields": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', `Fecha y hora de finalización del evento en formato ISO 8601.\n\nDebe ser 2 horas después de la hora de inicio si el usuario no especifica duración.\n\nEjemplo:\n2026-04-16T19:00:00+02:00`, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', `Nueva fecha y hora de inicio del evento en formato ISO 8601 con zona horaria Europe/Madrid.\n\nEjemplo:\n2026-04-16T17:00:00+02:00\n\nSi el usuario solo dice una fecha sin hora, usar 17:00 como hora por defecto.`, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', `Título del evento en Google Calendar.\n\nEjemplo:\nMesa Dulce – Juan – Restaurante Amaltea`, 'string') }}"
        }
      },
      "id": "d96ce2b8-0251-4264-95b0-a8c8cbf11913",
      "name": "Actualizar evento calendar1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        7968,
        -3920
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zJ5fl0ynJcWqFSsM",
          "name": "Dulce Y Jaleo"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Elimina un evento de Google Calendar cuando el cliente cancele.\nUsa el Event_ID_Google obtenido de \"Buscar evento\" para identificar el evento correcto.",
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "a6266543324e6a43cc6e5a2fe87b0c6626ac2b2d8e38c2affc9fb78b146fb2d5@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Eventos Creados Por Recepcionista"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "id": "a709b3d6-0b71-488b-a6e5-260c30403c19",
      "name": "Eliminar evento calendar1",
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        8096,
        -3920
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "zJ5fl0ynJcWqFSsM",
          "name": "Dulce Y Jaleo"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JA3dqfTspgntpGPI_g89vIG2ZrS4TWemH0DmEvJTFxY",
          "mode": "list",
          "cachedResultName": "MEDIA DULCE Y JALEO",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JA3dqfTspgntpGPI_g89vIG2ZrS4TWemH0DmEvJTFxY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "MEDIA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JA3dqfTspgntpGPI_g89vIG2ZrS4TWemH0DmEvJTFxY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "TIPO",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        8224,
        -3920
      ],
      "id": "4e160dea-ec15-421f-996e-6ae0a3d5b2bd",
      "name": "Buscar Media1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P9EP0C5tiN4daw5k",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const estado = {\n  nombre_cliente: $fromAI('nombre_cliente'),\n  telefono: $fromAI('telefono'),\n  fecha_recogida: $fromAI('fecha_recogida'),\n  hora_recogida_entrega: $fromAI('hora_recogida_entrega'),\n  raciones: $fromAI('raciones'),\n  relleno: $fromAI('relleno'),\n  tematica_estilo: $fromAI('tematica_estilo'),\n  nombre_en_tarta: $fromAI('nombre_en_tarta'),\n  revision_manual: $fromAI('revision_manual')\n};\n\nreturn { estado };"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        8352,
        -3920
      ],
      "id": "31b50ddf-e7fe-4f89-a558-b1e01d4b7b80",
      "name": "Gestor de estado"
    },
    {
      "parameters": {
        "jsCode": "const input = $fromAI('fecha_relativa');\n\nconst hoy = luxon.DateTime.now().setZone('Europe/Madrid');\n\nlet fecha = hoy;\n\nif (input.includes('mañana')) {\n  fecha = hoy.plus({ days: 1 });\n}\n\nif (input.includes('pasado')) {\n  fecha = hoy.plus({ days: 2 });\n}\n\nreturn {\n  fecha_iso: fecha.toISODate()\n};"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        8480,
        -3920
      ],
      "id": "dfc2ca44-5ea2-4979-85a9-2846b18de7ed",
      "name": "Normalizador de Fechas"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "options": {
          "maxTokens": 1024,
          "temperature": 1
        }
      },
      "id": "2dc10362-f94d-49be-927c-aced36a1d033",
      "name": "OpenAI GPT-5mini1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        6688,
        -3920
      ],
      "credentials": {
        "openAiApi": {
          "id": "diaijM4m1sR4A9ss",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Preparar Datos1').item.json.phoneNumber }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        6816,
        -3920
      ],
      "id": "f5aad38f-8fd6-42f0-a704-e9327467370a",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Preparar Datos1').item.json.chatInput }}",
        "options": {
          "systemMessage": "Eres Susana, pastelera y fundadora de Dulce y Jaleo, obrador artesanal en Lorca.\nAtiendes clientes por WhatsApp como si fueras la propia Susana.\n\nTu tono es: Cercano, Natural, Dulce, Profesional, Muy implicada en cada detalle.\nNunca mencionas que eres una inteligencia artificial. Hablas siempre en primera persona.\nZona horaria: Europe/Madrid\n\nINFORMACIÓN DEL NEGOCIO\nNombre: Dulce y Jaleo\nUbicación: Lorca, Murcia\nActividad: Pastelería artesanal por encargo\nEspecialidades activas:\n• Tartas temáticas personalizadas\n• Mesas dulces para eventos\n• Talleres infantiles y cumpleaños creativos\n\nNO ofrecer catering salado. NO ofrecer Hogaza en Candela.\n\nOBJETIVO DEL AGENTE\nResolver dudas, Recoger datos del evento, Confirmar disponibilidad, Agendar llamada si es necesario, Registrar cliente y evento en Sheets cuando corresponda, Crear o actualizar evento en Calendar cuando proceda.\n\n===============================\nREGLA GENERAL FUNDAMENTAL\n===============================\nNunca hacer interrogatorio. Nunca pedir datos que el cliente ya ha dado. Preguntar solo lo que falte. Ir paso a paso, con naturalidad.\nAntes de cada pregunta revisa si el cliente ya ha dado ese dato en el chat.\nCuando el cliente pida ejemplos o fotos → PRIORIDAD ABSOLUTA: enviar ejemplos primero.\n\n===============================\nPRIORIDADES DEL AGENTE\n===============================\nPRIORIDAD 1: Responder al cliente con naturalidad SIEMPRE.\nPRIORIDAD 2: Usar tools SOLO cuando haga falta.\nPRIORIDAD 3: Registrar o actualizar Sheets y Calendar SOLO cuando se cumplan todas las condiciones.\nPRIORIDAD 4: Nunca duplicar eventos.\nPRIORIDAD 5: Si una tool falla, seguir respondiendo al cliente de forma natural y nunca dejar la respuesta vacía.\nPRIORIDAD CRÍTICA: Nunca confirmes un pedido como apuntado o reservado si no se ha registrado realmente en Sheets o Calendar.\n\n===============================\nPRIORIDAD ABSOLUTA – EJEMPLOS\n===============================\nSi el cliente pide explícitamente:\n- ejemplos\n- fotos\n- referencias\n- \"¿tenéis algo parecido?\"\n- \"¿puedo ver trabajos?\"\n- \"enséñame mesas\"\n- \"enséñame tartas\"\n\nDEBES:\n1. Enviar el enlace de ejemplos PRIMERO.\n2. No hacer preguntas antes de enviar el enlace.\n3. Después de enviar el enlace, esperar respuesta.\n4. Solo continuar cuando el cliente responda.\n\nEsta regla tiene prioridad sobre cualquier flujo.\n\n===============================\nREGLA ENVÍO DE EJEMPLOS (MEDIA)\n===============================\nCuando el cliente pida ejemplos, fotos o referencias:\n\n1) CLASIFICACIÓN OBLIGATORIA\nA) Si el cliente menciona cualquiera de estas palabras: \"tarta\", \"tartas\", \"pastel\", \"cumple\", \"cumpleaños\", \"bizcocho\"\n→ media_tipo = \"tartas\"\n(Esta regla tiene PRIORIDAD sobre cualquier otra.)\n\nB) Si NO se cumple A y el cliente menciona: \"mesa dulce\", \"mesa de chuches\", \"candy bar\", \"mesa\"\n→ entonces es mesa dulce:\n- si menciona \"niño\" → media_tipo = \"mesa_dulce_nino\"\n- si menciona \"niña\" → media_tipo = \"mesa_dulce_nina\"\n- si no especifica → pregunta \"¿Es para niño o para niña? 😊\" y NO llames a la tool todavía.\n\nC) Si no se identifica claramente:\npregunta una aclaración corta: \"¿Buscas ejemplos de tartas o de mesas dulces? 😊\"\n\n2) Llama a la Tool \"Buscar Media\" pasando SOLO uno de estos valores exactos:\n- \"tartas\"\n- \"mesa_dulce_nino\"\n- \"mesa_dulce_nina\"\n\n3) La tool devolverá una fila con una columna URL. Extrae la URL y envíala tal cual, sin lenguaje técnico.\n\n4) Envía SOLO 1 enlace por mensaje.\n\n5) Usa estos textos:\nSi media_tipo = \"tartas\":\n\"Te dejo por aquí ejemplos de tartas para que cojas ideas 😊 [URL] Si ves alguna que te guste, dime cuál y la tomo como referencia.\"\n\nSi media_tipo contiene \"mesa_dulce\":\n\"Aquí tienes ejemplos de mesas dulces 😊 [URL] Si te encaja alguna idea, dímelo y te preparo la propuesta.\"\n\n6) Después de mandar el enlace:\nEspera respuesta. No sigas preguntando más cosas hasta que el cliente responda.\n\n===============================\nREGLA DE REFERENCIAS Y CONFIRMACIÓN\n===============================\nAntes de confirmar, registrar o cerrar una TARTA o una MESA DULCE, debes asegurarte de que el cliente ya tiene una referencia visual clara. Esto significa una de estas dos cosas:\n1. Ya se le ha enviado el enlace de ejemplos correspondiente y el cliente ha elegido una imagen, una idea o una línea basada en esas referencias.\n2. El cliente ya ha enviado directamente su propia imagen o ha descrito una temática suficientemente clara sin necesidad de ejemplos.\n\nSi ninguna de esas dos cosas ha ocurrido todavía:\n- NO cierres el pedido\n- NO lo des por confirmado\n- NO llames todavía a la tool de registrar evento si aún falta esa referencia visual\n- Primero envía ejemplos o pide una referencia clara\n\nPara TARTAS:\n- Si el cliente no ha dado referencia propia, debes enviar el enlace de tartas antes de cerrar diseño.\n- Después, cuando el cliente elija una imagen o describa una temática basada en ella, debes usar eso como diseño elegido.\n\nPara MESAS DULCES:\n- Primero debes saber si es para niño o niña.\n- Después debes enviar el enlace correcto de ejemplos.\n- Luego debes esperar a que el cliente diga qué estilo, imagen o referencia le encaja.\n- Solo después puedes avanzar a cerrar propuesta o reserva.\n\n===============================\nREGLA DE NOTAS INTERNAS\n===============================\nLa columna Notas_Internas debe usarse para guardar SOLO referencias creativas o aclaraciones visuales del pedido.\n\nGuardar en Notas_Internas:\n- imagen elegida por el cliente\n- número o posición de la referencia si el cliente la menciona\n- temática elegida\n- colores\n- estilo\n- decoración\n- inspiración\n- cualquier frase tipo: \"como la 2ª foto\" \"similar a la referencia enviada\" \"temática Spiderman en azul y rojo\" \"mesa dulce elegante en tonos pastel\" \"quiere algo como la foto del enlace\"\n\nNO guardar en Notas_Internas:\n- fecha\n- lugar\n- teléfono\n- nombre\n- número de personas\n- estado del evento\n- pagos\n\nEjemplos correctos de Notas_Internas:\n- \"Referencia elegida: estilo de la 2ª imagen del enlace de tartas, temática Frozen, tonos azules y blancos.\"\n- \"Mesa dulce inspirada en las fotos enviadas, estilo niño, tonos azules, detalles de fútbol.\"\n- \"Cliente quiere una tarta similar a la referencia enviada, acabado limpio y topper con nombre.\"\n\n===============================\nREGLA DE REGISTRO FINAL\n===============================\nNo registres una TARTA como cerrada para seguimiento si todavía falta:\n- la referencia/diseño elegido\n- o el relleno\n\nNo registres una MESA DULCE como lista para seguimiento si todavía falta:\n- niño o niña\n- o la referencia/estilo elegido a partir de los ejemplos o de una imagen del cliente\n\nSi falta una referencia visual clara, haz solo una pregunta para obtenerla.\n\n===============================\n🍭 MESA DULCE – FLUJO REAL SUSANA\n===============================\nOrden obligatorio:\n1. Fecha (si ya la dijo, NO repetir)\n2. Restaurante o lugar\n3. Niño o niña\n\nCon esos tres datos puedes avanzar.\n\nExplicación natural:\n\"Las mesas dulces están valoradas entre 300€ y 350€ para comuniones individuales. Incluyen 2kg de chuches y 1kg de snack de chocolate. Si quieres añadir palomitas, donuts o gofres, se presupuestan aparte 😊\nEl precio puede variar según si la mesa va tematizada o no.\"\n\nReserva:\n\"Para bloquear la fecha necesito una señal de 50€ por Bizum a este mismo número. El resto se paga en efectivo la semana de la celebración.\"\n\nSi una fecha se puede interpretar de forma lógica con el año actual, úsala directamente y confirma al cliente la fecha completa sin pedir aclaración innecesaria.\n\n===============================\nREGISTRO EN SHEETS – MESA DULCE\n===============================\nRegistrar evento SOLO cuando estén confirmados TODOS estos datos:\n- ID_Cliente real\n- Fecha_Evento\n- Lugar_Evento\n- Confirmación de si es niño o niña\n\nY además exista interés real:\n- quiere reservar\n- acepta presupuesto\n- pide datos de pago\n- dice que lo dejes apuntado o reservado\n\nSi falta cualquiera de esos datos:\n- NO llames a Guardar Evento3\n- Haz SOLO 1 pregunta para conseguir el dato que falta\n\nEstado inicial: \"Consulta abierta\"\nCuando decide reservar: \"Pendiente señal\"\nCuando paga señal: \"Señal pagada\"\nNo marcar cancelado automáticamente.\n\n===============================\n🎂 TARTAS PERSONALIZADAS – FLUJO REAL SUSANA\n===============================\nOrden obligatorio:\n1. Fecha (si ya la dijo, NO repetir)\n2. Temática\n3. Número de raciones\n4. Enviar ejemplos si aún no se enviaron\n5. Cuando elija diseño → enviar lista de rellenos\n6. Cuando elija relleno → pedir:\n   - Hora de recogida\n   - Edad que cumple\n   - Nombre\n\nDespués informar precio final.\n\nSi la fecha es muy próxima:\n\"Si es para tan pronto voy a mirarlo ahora mismo para ver si llegamos bien 🤞\"\n\nSi una fecha se puede interpretar de forma lógica con el año actual, úsala directamente y confirma al cliente la fecha completa sin pedir aclaración innecesaria.\n\n===============================\nPEDIDO MÍNIMO VIABLE (CRÍTICO)\n===============================\nPara poder validar un pedido de tarta necesitas SOLO estos datos:\n• hora de recogida o entrega\n• raciones\n• relleno\n• temática o estilo\n• nombre si lleva texto\n• teléfono o nombre del cliente si no está identificado por WhatsApp\n\nReglas:\n- Si falta SOLO un dato → pregunta SOLO ese dato.\n- Si los datos ya están en el chat → NO los vuelvas a preguntar.\n- Si los datos mínimos ya están completos → deja de preguntar y pasa a validar disponibilidad.\nNunca hagas interrogatorios.\n\n===============================\nRELLENOS AUTORIZADOS (LISTA INAMOVIBLE)\n===============================\nSolo puedes ofrecer estos rellenos:\n• Trufa y trocitos de galleta Oreo crujiente\n• Crema de Ferrero con crocante de almendra\n• Nutella y nata sabor avellana\n• Crema de pistacho y crujiente de pistacho caramelizado\n• Crema de Kinder Bueno y barquillo de avellana\n• Nata y fresas naturales\n• Crema de vainilla y trocitos de galleta Lotus\n\nReglas:\n- No puedes ofrecer sabores fuera de esta lista.\n- Si el cliente dice algo genérico como \"chocolate\" debes pedir que elija una opción concreta de la lista.\n- Si pide un sabor fuera de la lista responde: \"Lo consulto con Susana y te confirmo 😊\"\n\n===============================\nREGISTRO EN SHEETS – TARTAS\n===============================\nRegistrar evento SOLO cuando estén confirmados TODOS estos datos:\n- ID_Cliente real\n- Fecha_Evento completa\n- Número de raciones\n- Diseño elegido\n- Relleno elegido\n\nSi falta cualquiera de esos datos:\n- NO llames a Guardar Evento3\n- Haz SOLO 1 pregunta para conseguir el dato que falta\n\nNo registrar si solo pregunta precio o disponibilidad general.\n\n===============================\nREGLA FECHAS (CRÍTICA)\n===============================\nCuando el cliente diga una fecha tipo:\n- \"4 de abril\"\n- \"el 4/4\"\n- \"4 abril\"\nDebes repetir SIEMPRE la fecha completa en texto.\nEjemplo: \"Perfecto, para el 4 de abril 😊\"\nNunca responder solo con el número.\nNunca guardar solo el día suelto.\n\n===============================\nREGLA FECHAS NATURALES\n===============================\nCuando el cliente diga una fecha sin año, debes asumir por defecto el año actual si esa fecha todavía no ha pasado.\nEjemplo:\n- Si hoy estamos en 2026 y el cliente dice \"4 de abril\", debes interpretar \"4 de abril de 2026\".\n- NO preguntes el año si es evidente por contexto y no hay ambigüedad real.\n- Solo pregunta el año si:\n1. la fecha podría referirse razonablemente a otro año\n2. la fecha ya ha pasado\n3. el contexto no deja claro si habla de este año o del siguiente\n\nDebes sonar natural. No hagas preguntas innecesarias como \"¿en qué año sería, 2026?\" si es obvio.\nSi el cliente dice \"mañana\", \"hoy\" o \"pasado mañana\": interpreta la fecha usando la zona horaria Europe/Madrid.\nNo vuelvas a preguntar la fecha si se puede deducir claramente.\n\n===============================\nREGLAS TÉCNICAS Y TOOLS\n===============================\nCuando necesites actualizar un evento en Google Sheets:\n1. Llama primero a la tool \"Buscar evento\".\n2. Obtén el rowNumber del evento correcto.\n3. Usa ese rowNumber en la tool \"Actualizar Un Evento\".\n4. El rowNumber debe ser un número entero.\n5. Nunca inventes el rowNumber.\n\nCuando el usuario dé teléfono: SIEMPRE llamar a Buscar Cliente.\nSi no existe: Registrar Cliente y volver a Buscar Cliente para obtener ID_Cliente.\nNo registrar evento sin ID_Cliente real.\n\nSi el usuario cancela:\nBuscar Cliente → Buscar Evento → Actualizar Estado Evento (Cancelado).\n\nSi el usuario cambia fecha:\nBuscar Evento → Actualizar Un Evento PROHIBIDO crear nuevo evento.\n\nCalendar:\nCrear evento SOLO si es una reserva nueva confirmada o una llamada confirmada.\nSi cambia fecha: Actualizar usando Event_ID_Google. Nunca crear duplicados.\nSi no existe Event_ID_Google: Crear evento y guardar ID en Sheets.\n\n===============================\nREGLA TOOL CREAR EVENTO CALENDAR\n===============================\nCuando llames a la Tool \"Crear evento\" de Google Calendar, debes rellenar SIEMPRE estos 4 campos:\n1. fecha_inicio_iso – formato ISO 8601 – Ejemplo: 2026-04-04T17:00:00+02:00\n2. fecha_fin_iso – formato ISO 8601 – Si no se indica duración, usar 2 horas después del inicio\n3. calendar_summary – Título breve y claro – Ejemplo: Mesa Dulce – Juan – Restaurante Amaltea\n4. calendar_description – Descripción clara incluyendo: nombre del cliente, teléfono, tipo de evento, lugar, subtipo, número de personas, estado del evento\n\nNUNCA llames a la Tool \"Crear evento\" si no puedes rellenar esos 4 campos. Si falta alguno, pregunta solo lo mínimo necesario antes.\n\nREGLA DE CAMBIAR DE FECHA UN EVENTO EN CALENDAR\nCuando el cliente cambie la fecha de un evento:\n1. Llamar primero a la tool \"Buscar evento\".\n2. Obtener el Event_ID_Google.\n3. Llamar a la tool \"Actualizar evento calendar\".\n4. Enviar la nueva fecha en formato ISO.\n5. No crear un evento nuevo.\n\n===============================\nREGLA DE RECUPERACIÓN SI FALLA UNA TOOL\n===============================\nSi una tool falla:\n- NUNCA muestres errores técnicos\n- NUNCA dejes la respuesta vacía\n- Responde de forma natural como Susana\n- Si puedes, sigue la conversación pidiendo SOLO el dato que falte\n- Si no puedes continuar con seguridad, di algo como:\n\"Déjame revisarlo bien y te lo confirmo enseguida 😊\"\n\n===============================\nREGLA ANTI-REPETICIÓN\n===============================\nNo repitas el resumen del pedido en cada mensaje.\nSolo resume cuando:\n• el pedido esté completamente definido\n• o cuando se vaya a registrar el evento.\n\n===============================\nESCALAR A LLAMADA\n===============================\nAgendar llamada cuando:\n- Cliente lo pida\n- Evento grande\n- Cambios complejos\n- Presupuesto muy personalizado\n\n===============================\nDIRECTRICES DE COMUNICACIÓN\n===============================\nHablar como Susana. Natural. Cercana. Sin frases robóticas. Sin lenguaje técnico. Sin apelativos tipo \"guapa\".\nUsar frases naturales como:\n\"Te lo dejo apuntado.\"\n\"Déjame revisarlo bien.\"\n\"Lo miro y te digo.\"\n\n===============================\nREGLA ANTI-OUTPUT VACÍO (CRÍTICA)\n===============================\nNUNCA devuelvas una respuesta vacía.\nSIEMPRE escribe un mensaje final para el cliente.\nSi faltan datos, haz 1 sola pregunta para avanzar.\nSi no toca preguntar, responde con confirmación y siguiente paso.\nSi una tool falla, responde igualmente de forma natural.\n\n===============================\nFORMATO DE RESPUESTA WHATSAPP\n===============================\nCuando la respuesta sea mediana o larga, divídela en 2 o 3 mensajes cortos de WhatsApp.\nDebes devolverlos en un único texto separados por ||\nEjemplo:\nPerfecto 😊||Entonces sería para el 4 de abril en Amaltea.||Si quieres, te dejo ya la reserva preparada.\n\nReglas:\n- No escribas \"mensaje 1\", \"parte 2\" ni numeraciones.\n- Si la respuesta es corta, puedes responder en un solo mensaje sin ||.\n- Si la respuesta es mediana o larga, usa || para dividirla.\n\nHoy es: {{ $now }}"
        }
      },
      "id": "0c45e437-88ab-4841-82a6-76ea4af05a53",
      "name": "Recepcionista Virtual1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        7520,
        -4144
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "text": "={{ $json.output }}",
        "guardrails": {}
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 2,
      "position": [
        8688,
        -4144
      ],
      "id": "958055d7-4cab-4942-83a3-cb050910a5a5",
      "name": "Guardrails2"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $json.instanceName }}",
        "remoteJid": "={{ $json.recipient }}",
        "messageText": "={{ $json.text }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        9360,
        -4208
      ],
      "id": "a77b046f-2c43-41ba-8066-170b5e26e353",
      "name": "Enviar texto3",
      "credentials": {
        "evolutionApi": {
          "id": "5Apauz8c0SGRxMOI",
          "name": "Test Clinica Dental"
        }
      }
    },
    {
      "parameters": {
        "amount": "={{ Math.max(1, Math.min(5, Math.ceil(($json.text || \"\").length / 45))) }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        9584,
        -4144
      ],
      "id": "e7beb36c-74d1-4e1f-9bcb-9a0a26287ed2",
      "name": "Wait1",
      "webhookId": "3993d23f-cddd-4cd1-80d2-3712f27fc6f2"
    },
    {
      "parameters": {
        "jsCode": "const source =\n  $input.first().json.guardrailsInput ||\n  $input.first().json.output ||\n  \"\";\n\nconst prep = $items(\"Preparar Datos1\", 0, 0)[0]?.json || {};\n\nconst phoneNumber = prep.phoneNumber || prep.sessionId || \"\";\nconst instanceName = prep.instanceName || \"\";\n\nconst parts = source\n  .split(\"||\")\n  .map(s => s.trim())\n  .filter(Boolean)\n  .slice(0, 3);\n\nreturn parts.map((text, index) => ({\n  json: {\n    phoneNumber,\n    instanceName,\n    recipient: `${phoneNumber}@s.whatsapp.net`,\n    text,\n    order: index + 1\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8912,
        -4144
      ],
      "id": "9e5270a7-7a23-4fbc-8b33-d5caae4080b9",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        9136,
        -4144
      ],
      "id": "02fff417-3eed-4072-a4dc-1107dade317a",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FgTej3kJEYjOFBpmDMUpKrxn9Sr00kEPs8Dg81RjVhk",
          "mode": "list",
          "cachedResultName": "Dulce_y_Jaleo_Control_Clientes_Eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FgTej3kJEYjOFBpmDMUpKrxn9Sr00kEPs8Dg81RjVhk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 667882738,
          "mode": "list",
          "cachedResultName": "CONTACTOS_PROTEGIDOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FgTej3kJEYjOFBpmDMUpKrxn9Sr00kEPs8Dg81RjVhk/edit#gid=667882738"
        },
        "options": {}
      },
      "id": "9ee64bee-45ce-42b9-a0d7-51833827935a",
      "name": "Buscar Contacto Protegido",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3872,
        -3808
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P9EP0C5tiN4daw5k",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "es"
        }
      },
      "id": "abb39293-f772-4e91-beaf-744c31150a80",
      "name": "Transcribir con Whisper1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        4768,
        -4432
      ],
      "credentials": {
        "openAiApi": {
          "id": "diaijM4m1sR4A9ss",
          "name": "OpenAi account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "instanceName": "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",
        "token": " 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",
        "options_Create_instance": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        4544,
        -4432
      ],
      "id": "6bc7b1c1-11e7-4dcf-8272-ae31c3b891a4",
      "name": "Obter m dia em base",
      "credentials": {
        "evolutionApi": {
          "id": "5Apauz8c0SGRxMOI",
          "name": "Test Clinica Dental"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        6416,
        -4064
      ],
      "id": "4b558c4d-7369-40e5-af6c-36b8369f5ecb",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "diaijM4m1sR4A9ss",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "instanceName": "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",
        "token": " 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",
        "options_Create_instance": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        7584,
        -4432
      ],
      "id": "e64a5663-3c62-4a13-ba37-0a07a9743cfb",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "5Apauz8c0SGRxMOI",
          "name": "Test Clinica Dental"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$('Preparar Datos1').first().json } }];"
      },
      "id": "cf99efca-06ba-4125-ac47-4370d33fe670",
      "name": "Continuar Datos Originales",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6112,
        -4288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition_1",
              "leftValue": "={{ $json.body_data_key_remoteJid }}",
              "rightValue": "@g.us",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c55330e2-e474-49ae-a134-5e526d8cf7d6",
      "name": "Solo Chats Privados1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        4096,
        -4512
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obtener datos del webhook original\nconst webhookData = $('Webhook').first().json;\nconst messageType = webhookData.body.data.messageType;\n\nlet userMessage = '';\nlet phoneNumber = webhookData.body.data.key.remoteJid.replace('@s.whatsapp.net', '');\nlet pushName = webhookData.body.data.pushName || 'Usuario';\n\n// Determinar el mensaje según el tipo\nif (messageType === 'conversation') {\n  userMessage = webhookData.body.data.message.conversation;\n} else if (messageType === 'extendedTextMessage') {\n  userMessage = webhookData.body.data.message.extendedTextMessage.text;\n} else if (messageType === 'audioMessage') {\n  // Si viene de transcripción\n  try {\n    const transcription = $('Transcribir con Whisper1').first();\n    userMessage = transcription.json.text || '[Audio no transcrito]';\n  } catch (e) {\n    userMessage = '[Error al transcribir audio]';\n  }\n}\n\nreturn [{\n  json: {\n    chatInput: userMessage,\n    sessionId: phoneNumber,\n    phoneNumber: phoneNumber,\n    pushName: pushName,\n    instanceName: webhookData.body.instance,\n    messageType: messageType,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "34daa654-9c47-4476-8f60-5ab25e7013af",
      "name": "Preparar Datos1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4992,
        -4512
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FgTej3kJEYjOFBpmDMUpKrxn9Sr00kEPs8Dg81RjVhk",
          "mode": "list",
          "cachedResultName": "Dulce_y_Jaleo_Control_Clientes_Eventos",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FgTej3kJEYjOFBpmDMUpKrxn9Sr00kEPs8Dg81RjVhk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 667882738,
          "mode": "list",
          "cachedResultName": "CONTACTOS_PROTEGIDOS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FgTej3kJEYjOFBpmDMUpKrxn9Sr00kEPs8Dg81RjVhk/edit#gid=667882738"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Telefono",
              "lookupValue": "={{ $json.phoneNumber }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dcd6e253-3810-4733-ba5a-3d32cb0ac878",
      "name": "Buscar Contacto Protegido1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        5216,
        -4512
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P9EP0C5tiN4daw5k",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond_found",
              "leftValue": "={{ $json.Telefono || '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "22c30370-e6e0-4ebb-b3ed-734e229a4311",
      "name": "IF Contacto Protegido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5440,
        -4512
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cond_extended",
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "id": "cond_audio",
                    "leftValue": "={{ $json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            }
          ]
        },
        "options": {}
      },
      "id": "0d7cd256-a432-4724-913e-c1d333472db5",
      "name": "Tipo de Mensaje1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        4320,
        -4512
      ]
    },
    {
      "parameters": {
        "text": "={{ $json.chatInput }}",
        "guardrails": {
          "nsfw": {
            "value": {
              "threshold": 0.7
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.guardrails",
      "typeVersion": 2,
      "position": [
        6336,
        -4288
      ],
      "id": "19619cd3-8841-4bd7-8cfa-0afc4780945d",
      "name": "Guardrails3",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "1FgTej3kJEYjOFBpmDMUpKrxn9Sr00kEPs8Dg81RjVhk",
        "sheetName": "LOG_MENSAJES",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha_Hora": "={{$json.timestamp || $now.toISO()}}",
            "Telefono": "={{$json.phoneNumber}}",
            "Nombre_WhatsApp": "={{$json.pushName}}",
            "Mensaje": "={{$json.chatInput}}",
            "Clasificacion_IA": "contacto_protegido_no_bot",
            "Confianza": "100",
            "Decision": "bloqueado",
            "Motivo": "={{$json.motivoFiltro || 'Contacto protegido con acción no_bot'}}",
            "Estado": "sin_respuesta",
            "SessionId": "={{$json.sessionId}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha_Hora",
              "displayName": "Fecha_Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre_WhatsApp",
              "displayName": "Nombre_WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Clasificacion_IA",
              "displayName": "Clasificacion_IA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confianza",
              "displayName": "Confianza",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Decision",
              "displayName": "Decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Motivo",
              "displayName": "Motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SessionId",
              "displayName": "SessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6305b6f8-43bf-4656-8e6a-dd5278eaa1f2",
      "name": "Log Bloqueado Personal",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        8688,
        -4480
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P9EP0C5tiN4daw5k",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const original = $('Preparar Datos1').first().json;\nreturn [{\n  json: {\n    ...original,\n    contactoProtegido: true,\n    contactoTelefono: $json.Telefono || '',\n    contactoNombre: $json.Nombre || '',\n    contactoCategoria: ($json.Categoria || '').toString(),\n    contactoAccion: ($json.Accion || '').toString().toLowerCase(),\n    contactoActivo: ($json.Activo || 'SI').toString(),\n    contactoNotas: $json.Notas || ''\n  }\n}];"
      },
      "id": "d9cb170c-3910-4a3f-9da8-70c7eee3c467",
      "name": "Combinar Contexto Filtro",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5664,
        -4704
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = (($json.chatInput || '') + '').toLowerCase();\nconst keywords = [\n  'tarta','tartas','pastel','cumple','cumpleaños','mesa dulce','mesas dulces',\n  'candy bar','comunion','comunión','boda','bautizo','taller','talleres',\n  'precio','precios','presupuesto','encargo','pedido','pedir','reserva',\n  'disponibilidad','fecha','ejemplo','ejemplos','foto','fotos','referencia','referencias'\n];\nconst hits = keywords.filter(k => msg.includes(k));\nreturn [{\n  json: {\n    ...$json,\n    esNegocio: hits.length > 0,\n    coincidenciasNegocio: hits.join(', '),\n    motivoFiltro: hits.length > 0\n      ? 'Contacto protegido con posible intención de negocio'\n      : 'Contacto protegido bloqueado sin intención de negocio'\n  }\n}];"
      },
      "id": "307442fe-c461-41d1-bf3c-17249542763b",
      "name": "Detectar Intencion Negocio Protegido",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6400,
        -4688
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond_bot",
              "leftValue": "={{ ($json.contactoAccion || '').toLowerCase() }}",
              "rightValue": "bot",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "fa8844b0-5d5f-4d11-93f1-c9b3eb332acc",
      "name": "IF Accion BOT",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        5888,
        -4704
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond_manual",
              "leftValue": "={{ ($json.contactoAccion || '').toLowerCase() }}",
              "rightValue": "manual",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "11de1b20-f5c3-4bf2-8159-e8b72446f406",
      "name": "IF Accion MANUAL",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        6112,
        -4752
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "cond_negocio",
              "leftValue": "={{ $json.esNegocio }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "09a0e143-d34a-4405-a33d-7b84d0d2a1f4",
      "name": "IF Es Negocio Protegido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        7584,
        -4688
      ]
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3872,
        -3376
      ],
      "id": "d7b7445a-9859-4018-a53f-c65ff1ddc273",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "sendTo": "sinsugar2325@gmail.com",
        "subject": "🔔 Revisión manual WhatsApp - Dulce y Jaleo",
        "emailType": "text",
        "message": "=REVISIÓN MANUAL WHATSAPP\\n\\nNombre WhatsApp: {{$json.pushName}}\\nTeléfono: {{$json.phoneNumber}}\\nFecha/Hora: {{$now.toFormat('dd/MM/yyyy HH:mm')}}\\nCategoría contacto: {{$json.contactoCategoria || 'desconocida'}}\\nAcción contacto: {{$json.contactoAccion || 'manual'}}\\n\\nMensaje recibido:\\n{{$json.chatInput}}\\n\\nMotivo:\\n{{$json.motivoFiltro || 'Contacto marcado para revisión manual'}}\\n\\nCoincidencias negocio:\\n{{$json.coincidenciasNegocio || 'Ninguna'}}",
        "options": {}
      },
      "id": "3bc59e32-b3a5-4bf7-9a19-0046ea9f7620",
      "name": "Gmail Revision Manual",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        8688,
        -4848
      ],
      "webhookId": "682c86db-86b1-4569-8a92-d435d8b42d32",
      "credentials": {
        "gmailOAuth2": {
          "id": "CmT8VtyfQAlrj3ZW",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "1FgTej3kJEYjOFBpmDMUpKrxn9Sr00kEPs8Dg81RjVhk",
        "sheetName": "LOG_MENSAJES",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Fecha_Hora": "={{$json.timestamp || $now.toISO()}}",
            "Telefono": "={{$json.phoneNumber}}",
            "Nombre_WhatsApp": "={{$json.pushName}}",
            "Mensaje": "={{$json.chatInput}}",
            "Clasificacion_IA": "filtro_contacto_protegido",
            "Confianza": "100",
            "Decision": "revision_manual",
            "Motivo": "={{$json.motivoFiltro || 'Contacto protegido marcado para revisión manual'}}",
            "Estado": "sin_respuesta",
            "SessionId": "={{$json.sessionId}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Fecha_Hora",
              "displayName": "Fecha_Hora",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefono",
              "displayName": "Telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre_WhatsApp",
              "displayName": "Nombre_WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Mensaje",
              "displayName": "Mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Clasificacion_IA",
              "displayName": "Clasificacion_IA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Confianza",
              "displayName": "Confianza",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Decision",
              "displayName": "Decision",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Motivo",
              "displayName": "Motivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SessionId",
              "displayName": "SessionId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "805b63e3-b319-402f-9364-8034e0638bfa",
      "name": "Log Revision Manual",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        8912,
        -4848
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P9EP0C5tiN4daw5k",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "body_data_key_remoteJid",
              "type": "any"
            },
            {
              "name": "_firstItem",
              "type": "any"
            }
          ]
        }
      },
      "id": "2bed13a2-1b0c-4a0e-968b-9b5ad37ceb45",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        3872,
        -4512
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Buscar Contacto Protegido": {
      "main": [
        []
      ]
    },
    "IF Contacto Protegido": {
      "main": [
        [
          {
            "node": "Combinar Contexto Filtro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Continuar Datos Originales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combinar Contexto Filtro": {
      "main": [
        [
          {
            "node": "IF Accion BOT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Accion BOT": {
      "main": [
        [
          {
            "node": "Continuar Datos Originales",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Accion MANUAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Accion MANUAL": {
      "main": [
        [
          {
            "node": "Gmail Revision Manual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Detectar Intencion Negocio Protegido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Intencion Negocio Protegido": {
      "main": [
        [
          {
            "node": "IF Es Negocio Protegido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Es Negocio Protegido": {
      "main": [
        [
          {
            "node": "Gmail Revision Manual",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Bloqueado Personal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Revision Manual": {
      "main": [
        [
          {
            "node": "Log Revision Manual",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Continuar Datos Originales": {
      "main": [
        [
          {
            "node": "Guardrails3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Solo Chats Privados1": {
      "main": [
        [
          {
            "node": "Tipo de Mensaje1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de Mensaje1": {
      "main": [
        [
          {
            "node": "Preparar Datos1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Obter m dia em base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Datos1": {
      "main": [
        [
          {
            "node": "Buscar Contacto Protegido1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recepcionista Virtual1": {
      "main": [
        [
          {
            "node": "Guardrails2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ver Disponibilidad Calendar1": {
      "ai_tool": [
        [
          {
            "node": "Recepcionista Virtual1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Escalar a Humano1": {
      "ai_tool": [
        [
          {
            "node": "Recepcionista Virtual1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Transcribir con Whisper1": {
      "main": [
        [
          {
            "node": "Preparar Datos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obter m dia em base": {
      "main": [
        [
          {
            "node": "Transcribir con Whisper1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails2": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardrails3": {
      "main": [
        [
          {
            "node": "Recepcionista Virtual1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Guardrails3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Cliente3": {
      "ai_tool": [
        [
          {
            "node": "Recepcionista Virtual1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Cliente3": {
      "ai_tool": [
        [
          {
            "node": "Recepcionista Virtual1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Evento3": {
      "ai_tool": [
        [
          {
            "node": "Recepcionista Virtual1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Buscar evento1": {
      "ai_tool": [
        [
          {
            "node": "Recepcionista Virtual1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Un Evento1": {
      "ai_tool": [
        [
          {
            "node": "Recepcionista Virtual1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Crear evento1": {
      "ai_tool": [
        [
          {
            "node": "Recepcionista Virtual1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar evento calendar1": {
      "ai_tool": [
        [
          {
            "node": "Recepcionista Virtual1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar evento calendar1": {
      "ai_tool": [
        [
          {
            "node": "Recepcionista Virtual1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-5mini1": {
      "ai_languageModel": [
        [
          {
            "node": "Recepcionista Virtual1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Media1": {
      "ai_tool": [
        [
          {
            "node": "Recepcionista Virtual1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Enviar texto3": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "Recepcionista Virtual1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Enviar texto3",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contacto Protegido1": {
      "main": [
        [
          {
            "node": "IF Contacto Protegido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gestor de estado": {
      "ai_tool": [
        [
          {
            "node": "Recepcionista Virtual1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Normalizador de Fechas": {
      "ai_tool": [
        [
          {
            "node": "Recepcionista Virtual1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Solo Chats Privados1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "memory CONFIG WHATSAPP1": {
      "main": [
        [
          {
            "node": "Recepcionista Virtual1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Simple Memory2": {
      "main": [
        [
          {
            "node": "OpenAI Chat Model1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "c8700064-f301-4200-908b-c37aaf962416",
  "meta": {
    "instanceId": "d60f676b72c8fbada108136ae53c2b8861e7b788419cc0b178995c37d4b85971"
  },
  "id": "yT8RYro7OOUycvmT",
  "tags": []
}