_ARCHIVO_HISTORICO/Herramienta Vinted/flujo_herramienta_vinted.json
{
  "name": "HERRAMIENTA VINTED AI",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "id": "1",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.message.photo ? true : false }}",
              "value2": true
            }
          ]
        }
      },
      "id": "2",
      "name": "¿Es una Foto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "⏳ Recibido. Entrando al estudio y redactando el copy SEO...\n(Tardará unos 10 segundos)",
        "additionalFields": {}
      },
      "id": "3",
      "name": "Aviso Cargando",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        400,
        0
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": "={{ $json.message.photo.slice(-1)[0].file_id }}"
      },
      "id": "4",
      "name": "Descargar Foto",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sdk.photoroom.com/v1/segment",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "PEGA_AQUÍ_TU_API_KEY_PHOTOROOM"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image_file",
              "inputDataFieldName": "data"
            },
            {
              "name": "bg_color",
              "value": "#F5F5F5"
            }
          ]
        },
        "options": {}
      },
      "id": "5",
      "name": "Photoroom (Fondo Blanco)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash-latest:generateContent?key=PEGA_AQUÍ_TU_API_KEY_GEMINI",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Eres un vendedor Top Seller de Vinted. Analiza la prenda de la foto adjunta, y mejora el texto base del vendedor: '{{ $('Telegram Trigger').item.json.message.caption || 'Sin descripción' }}'. Genera:\\n1. Un título genial y SEO.\\n2. Un párrafo persuasivo del estilo.\\n3. Detalles técnicos (tela, época) en formato de lista. Usa pocos emojis, sé profesional.\"\n        },\n        {\n          \"inline_data\": {\n            \"mime_type\": \"{{ $('Descargar Foto').item.binary.data.mimeType }}\",\n            \"data\": \"{{ $('Descargar Foto').item.binary.data.data }}\"\n          }\n        }\n      ]\n    }\n  ],\n \"generationConfig\": {\n    \"temperature\": 0.7\n  }\n}",
        "options": {}
      },
      "id": "6",
      "name": "Gemini 1.5 Vision (IA Copy)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        150
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.candidates[0].content.parts[0].text }}",
        "additionalFields": {}
      },
      "id": "7",
      "name": "Enviar Copy (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1050,
        150
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "file": "data",
        "additionalFields": {
          "caption": "📸 Aquí tienes tu portada editada a nivel de estudio."
        }
      },
      "id": "8",
      "name": "Enviar Foto Editada (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1050,
        -100
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "¿Es una Foto?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es una Foto?": {
      "main": [
        [
          {
            "node": "Aviso Cargando",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aviso Cargando": {
      "main": [
        [
          {
            "node": "Descargar Foto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Foto": {
      "main": [
        [
          {
            "node": "Photoroom (Fondo Blanco)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gemini 1.5 Vision (IA Copy)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Photoroom (Fondo Blanco)": {
      "main": [
        [
          {
            "node": "Enviar Foto Editada (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini 1.5 Vision (IA Copy)": {
      "main": [
        [
          {
            "node": "Enviar Copy (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
